<!doctype html>
<html ng-app="app">
	<head>
		<meta http-equiv="Content-Type" content="multipart/form-data; charset=UTF-8">
		<link href="../../build/common/base.css" rel="stylesheet">
		<script type="text/javascript" src="../../build/common/base.js"></script>
		<script type="text/javascript" src="../../build/common/ngEdit.js"></script>
	</head>
	<script type="text/javascript">
		var app = angular.module('app', ['baseDirective']);
		app.controller("ctrl", [ '$scope', 'baseService' ,function($scope, baseService) {
			 
		}]);
		
		/* 获取URL表单的 JSON 数据  必须以 getData为方法名*/
		function getData(){
			return AngularUtil.getScope().data;
		}
		/* 获取URL表单的校验情况，必须以isValid 为方法名 */
		function isValid(){
			//校验表单 ab-validate的 校验
			if(!ngUtil.getScope().form.$valid){
				$.Dialog.error("表单校验不通过！");
				return false;
			}

			// 您可以自由的去做特殊业务逻辑的校验
			if(!ngUtil.getScope().data.ah){
				$.Dialog.error("爱好不可为空！");
				return false;
			}
			return true;
		}
	</script>
	<body class="panel success" ng-controller="ctrl">
	<a class="btn btn-primary fa-save" href="javascript:void(0)" ng-model="data" onclick="submitBasic();">保存</a>
	<a href="javascript:void(0)" class="btn btn-primary fa-reply" onclick="javaScript:window.close()">取消</a>

	<!--  ab-load 去controller 层获取业务数据  -->
			<form name="form" method="post" id="basicForm" ab-load="/basedevice/api/get?id={id}"  ng-model="data" enctype="multipart/form-data">
				<table class="form-table">
					<tr>								
						<th><span>设备名称:</span><span class="required">*</span></th>
						<td>
							<input class="form-control" name="deviceBasicName" type="text" ng-model="data.deviceBasicName"   ab-validate="{required:true,maxlength:192}"  />
						</td>
						<th><span>设备编号:</span><span class="required">*</span></th>
						<td>
							<input class="form-control" type="text" ng-model="data.deviceBasicBodynumber"   ab-validate="{required:true,maxlength:192}"  />
						</td>
						<th><span>设备型号:</span><span class="required">*</span></th>
						<td>
							<input class="form-control" type="text" ng-model="data.deviceBasicVerson"   ab-validate="{required:true,maxlength:192}"  />
						</td>
					</tr>
					<tr>								
						<th><span>设备类别:</span><span class="required">*</span></th>
						<td>
							<input class="form-control" id="deviceBasicCategory" type="text" ng-model="data.deviceBasicCategory"   />
						</td>
						<th><span>设备类型:</span><span class="required">*</span></th>
						<td>
							<input class="form-control" id="deviceBasicType" type="text" ng-model="data.deviceBasicType"   />
						</td>
						<th><span>上级设备:</span><span class="required">*</span></th>
						<td>
							<input class="form-control" id="deviceBasicParentEquipment" type="text" ng-model="data.deviceBasicParentEquipment"   />
						</td>
					</tr>

					<tr>
						<th><span>镜头数量:</span></th>
						<td>
							<input class="form-control" id="deviceCameraShotNumber"  type="text"   ng-model="data.deviceCameraShotNumber" />
						</td>
						<th><span>像素:</span></th>
						<td>
							<input class="form-control" id="deviceCameraPx"  type="text"   ng-model="data.deviceCameraPx" />
						</td>

					</tr>
					<tr>
						<td colspan="6">
							<textarea ab-editor config="editorConfig" ng-model="data.deviceCameraRemark"></textarea>
						</td>
					</tr>
					<tr>
						<td colspan="6">
							<input class="form-control" id="file" name="file"  type="file"  />
						</td>
					</tr>

				</table>
			</form>
		<script>
			function submitBasic(){
				var formData = new FormData($("#uploadForm")[0]);
				console.log(formData);
				console.log($( '#uploadForm').serialize());
				$.ajax({
					async : false,
					cache : false,
					type : "post",
					data : {"deviceBasic":formData,"test":"ceshi"},
					url : '/basedevice/api/saveDeviceCamera',
					dataType : 'json',
					contentType: false, //必须
					processData: false, //必须
					success : function() {
						console.log('success');
					},
					error : function(arg1, arg2, arg3) {
						console.log(arg1 + "--" + arg2 + "--" + arg3);
					}
				});
			}
		</script>
	</body>
</html>