<!doctype html>
<html ng-app="app">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<link href="../build/common/base.css" rel="stylesheet">
		<script type="text/javascript" src="../build/common/base.js"></script>
		<script type="text/javascript" src="../build/common/ngEdit.js"></script>
		
		<script type="text/javascript">

		var app = angular.module('app', ['baseDirective']);
		app.controller("ctrl", [ '$scope', 'baseService', function($scope, baseService) {
			 
		}]);

		function downloadFile() {
			var path = $("#fileAddress").val();
			if(path!=""){
				window.open(path);
			}else{
				console.log("无附件信息");
			}
		}
		
		</script>
	</head>
	<body ng-controller="ctrl" class="panel success">
			<!-- 顶部按钮 -->
			<div class="panel-heading">
				<!--<a class="btn  btn-primary fa-save" ng-model="data" ab-save="/sys/sysLogErr/save" use-default-after-save-event="true"><span>保存</span></a>-->
				<a class="btn  btn-primary fa-back" onClick="javascript:$.Dialog.close(window);"><span>返回</span></a>
			</div>
			<form name="form" method="post" ab-load="/sysLog/api/get?id={id}"  ng-model="data">
				<table class="form-table">
							<tr>								
								<th>登录账号:</th>
								<td>
									<input class="form-control" type="text" ng-model="data.operator"   disabled="disabled"  />
								</td>								
							</tr>
							<tr>
								<th>账号名称:</th>
								<td>
									<input class="form-control" type="text" ng-model="data.operatorName"   disabled="disabled"  />
								</td>
							</tr>
							<tr>								
								<th>IP地址:</th>
								<td>
									<input class="form-control" type="text" ng-model="data.ipAddress"   disabled="disabled"  />
								</td>								
							</tr>
							<tr>								
								<th>状态</th>
								<td class="form-inline">
									<select class="form-control" ng-model="data.isFile" disabled="disabled">
			                    	 	<option value="0">未包含文件</option>
			                    	 	<option value="1">数据导出</option>
			                    	 	<option value="2">数据导入</option>
			                    	 </select>
								</td>								
							</tr>
							<tr>								
								<th>文件地址:</th>
								<td>
									<input class="form-control" type="text" ng-model="data.fileAddress" id="fileAddress"   disabled="disabled"  />
									<input type="button" value="下载文件" onclick="downloadFile()"/>
								</td>
							</tr>

							<tr>								
								<th>请求参数:</th>
								<td>
									<textarea class="form-control" rows="8" cols="80" ng-model="data.requestContext" readonly="readonly"></textarea>
								</td>								
							</tr>

				</table>
			</form>
	</body>
</html>