<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dstz.device.core.dao.DeviceBasicDao">
  <resultMap id="BaseResultMap" type="com.dstz.device.core.model.DeviceBasic">
    <id column="device_basic_id" jdbcType="VARCHAR" property="deviceBasicId" />
    <result column="device_basic_name" jdbcType="VARCHAR" property="deviceBasicName" />
    <result column="device_basic_bodyNumber" jdbcType="VARCHAR" property="deviceBasicBodynumber" />
    <result column="device_basic_verson" jdbcType="VARCHAR" property="deviceBasicVerson" />
    <result column="device_basic_category" jdbcType="VARCHAR" property="deviceBasicCategory" />
    <result column="device_basic_type" jdbcType="VARCHAR" property="deviceBasicType" />
    <result column="device_basic_parent_equipment" jdbcType="VARCHAR" property="deviceBasicParentEquipment" />
    <result column="device_basic_site" jdbcType="VARCHAR" property="deviceBasicSite" />
    <result column="device_basic_status" jdbcType="VARCHAR" property="deviceBasicStatus" />
    <result column="device_basic_factorydate" jdbcType="VARCHAR" property="deviceBasicFactorydate" />
    <result column="device_basic_factory_number" jdbcType="VARCHAR" property="deviceBasicFactoryNumber" />
    <result column="device_basic_purchase_amount" jdbcType="VARCHAR" property="deviceBasicPurchaseAmount" />
    <result column="device_basic_save_place" jdbcType="VARCHAR" property="deviceBasicSavePlace" />
    <result column="device_basic_user_department" jdbcType="VARCHAR" property="deviceBasicUserDepartment" />
    <result column="device_basic_leader" jdbcType="VARCHAR" property="deviceBasicLeader" />
    <result column="device_basic_setup_time" jdbcType="VARCHAR" property="deviceBasicSetupTime" />
    <result column="device_basic_brand" jdbcType="VARCHAR" property="deviceBasicBrand" />
    <result column="device_basic_provider" jdbcType="VARCHAR" property="deviceBasicProvider" />
    <result column="device_basic_purchase_time" jdbcType="VARCHAR" property="deviceBasicPurchaseTime" />

    <result column="device_basic_mesh" jdbcType="VARCHAR" property="deviceBasicMesh" />
    <result column="device_basic_enclosure" jdbcType="VARCHAR" property="deviceBasicEnclosure" />
    <result column="device_basic_ip" jdbcType="VARCHAR" property="deviceBasicIp" />
    <result column="device_basic_column_number" jdbcType="VARCHAR" property="deviceBasicColumnNumber" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.dstz.device.core.model.DeviceBasic">
    <result column="device_basic_img" jdbcType="LONGVARBINARY" property="deviceBasicImg" />
  </resultMap>
  <sql id="Base_Column_List">
    device_basic_id, device_basic_name, device_basic_bodyNumber, device_basic_verson, 
    device_basic_category, device_basic_type, device_basic_parent_equipment, device_basic_site,
    device_basic_status, device_basic_factorydate, device_basic_factory_number, device_basic_purchase_amount,
    device_basic_save_place, device_basic_user_department, device_basic_leader, device_basic_setup_time,
    device_basic_brand, device_basic_provider, device_basic_purchase_time,device_basic_mesh,device_basic_enclosure,
    device_basic_ip,device_basic_column_number
  </sql>
  <sql id="Blob_Column_List">
    device_basic_img
  </sql>
  <select id="get" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from device_basic
    where device_basic_id = #{deviceBasicId,jdbcType=VARCHAR}
  </select>
  <select id="getMap" parameterType="java.lang.String" resultType="java.util.Map">
      select
    <include refid="Blob_Column_List" />
    from device_basic
    where device_basic_id = #{deviceBasicId,jdbcType=VARCHAR}
  </select>

  <insert id="create" parameterType="com.dstz.device.core.model.DeviceBasic">
     insert into device_basic (device_basic_id, device_basic_name, device_basic_bodyNumber,
      device_basic_verson, device_basic_category,
      device_basic_type, device_basic_parent_equipment,
      device_basic_site, device_basic_status, device_basic_factorydate,
      device_basic_factory_number, device_basic_purchase_amount,
      device_basic_save_place, device_basic_user_department,
      device_basic_leader, device_basic_setup_time,
      device_basic_brand, device_basic_provider,
      device_basic_purchase_time, device_basic_img,device_basic_mesh,device_basic_enclosure,
    device_basic_ip,device_basic_column_number
      )
    values (#{deviceBasicId,jdbcType=VARCHAR}, #{deviceBasicName,jdbcType=VARCHAR}, #{deviceBasicBodynumber,jdbcType=VARCHAR},
      #{deviceBasicVerson,jdbcType=VARCHAR}, #{deviceBasicCategory,jdbcType=VARCHAR},
      #{deviceBasicType,jdbcType=VARCHAR}, #{deviceBasicParentEquipment,jdbcType=VARCHAR},
      #{deviceBasicSite,jdbcType=VARCHAR}, #{deviceBasicStatus,jdbcType=VARCHAR}, #{deviceBasicFactorydate,jdbcType=TIMESTAMP},
      #{deviceBasicFactoryNumber,jdbcType=VARCHAR}, #{deviceBasicPurchaseAmount,jdbcType=VARCHAR},
      #{deviceBasicSavePlace,jdbcType=VARCHAR}, #{deviceBasicUserDepartment,jdbcType=VARCHAR},
      #{deviceBasicLeader,jdbcType=VARCHAR}, #{deviceBasicSetupTime,jdbcType=TIMESTAMP},
      #{deviceBasicBrand,jdbcType=VARCHAR}, #{deviceBasicProvider,jdbcType=VARCHAR},
      #{deviceBasicPurchaseTime,jdbcType=VARCHAR}, #{deviceBasicImg,jdbcType=LONGVARBINARY},
      #{deviceBasicMesh,jdbcType=VARCHAR},#{deviceBasicEnclosure,jdbcType=VARCHAR},
      #{deviceBasicIp,jdbcType=VARCHAR},#{deviceBasicColumnNumber,jdbcType=VARCHAR}
      )
  </insert>

  <update id="update" parameterType="com.dstz.device.core.model.DeviceBasic">
   update device_basic
    set device_basic_name = #{deviceBasicName,jdbcType=VARCHAR},
      device_basic_bodyNumber = #{deviceBasicBodynumber,jdbcType=VARCHAR},
      device_basic_verson = #{deviceBasicVerson,jdbcType=VARCHAR},
      device_basic_category = #{deviceBasicCategory,jdbcType=VARCHAR},
      device_basic_type = #{deviceBasicType,jdbcType=VARCHAR},
      device_basic_parent_equipment = #{deviceBasicParentEquipment,jdbcType=VARCHAR},
      device_basic_site = #{deviceBasicSite,jdbcType=VARCHAR},
      device_basic_status = #{deviceBasicStatus,jdbcType=VARCHAR},
      device_basic_factorydate = #{deviceBasicFactorydate,jdbcType=TIMESTAMP},
      device_basic_factory_number = #{deviceBasicFactoryNumber,jdbcType=VARCHAR},
      device_basic_purchase_amount = #{deviceBasicPurchaseAmount,jdbcType=VARCHAR},
      device_basic_save_place = #{deviceBasicSavePlace,jdbcType=VARCHAR},
      device_basic_user_department = #{deviceBasicUserDepartment,jdbcType=VARCHAR},
      device_basic_leader = #{deviceBasicLeader,jdbcType=VARCHAR},
      device_basic_setup_time = #{deviceBasicSetupTime,jdbcType=TIMESTAMP},
      device_basic_brand = #{deviceBasicBrand,jdbcType=VARCHAR},
      device_basic_provider = #{deviceBasicProvider,jdbcType=VARCHAR},
      device_basic_purchase_time = #{deviceBasicPurchaseTime,jdbcType=VARCHAR},
      device_basic_mesh = #{deviceBasicMesh,jdbcType=VARCHAR},
      device_basic_enclosure = #{deviceBasicEnclosure,jdbcType=VARCHAR},
      device_basic_ip = #{deviceBasicIp,jdbcType=VARCHAR},
      device_basic_column_number = #{deviceBasicColumnNumber,jdbcType=VARCHAR}
      <if test="deviceBasicImg !='' and deviceBasicImg !=null">
        ,device_basic_img = #{deviceBasicImg,jdbcType=LONGVARBINARY}
      </if>
    where device_basic_id = #{deviceBasicId,jdbcType=VARCHAR}
  </update>

  <select id="query" parameterType="java.util.Map" resultMap="BaseResultMap">
    SELECT
    device_basic_id, device_basic_name, device_basic_bodyNumber, device_basic_verson,
    (select name_ from sys_data_dict where key_=device_basic_category and dict_key_='sbgl') device_basic_category,
    (select name_ from sys_data_dict where key_=device_basic_type and dict_key_='sblx') device_basic_type, device_basic_parent_equipment, device_basic_site,
    (select name_ from sys_data_dict where key_=device_basic_status and dict_key_='sbzt') device_basic_status, device_basic_factorydate, device_basic_factory_number, device_basic_purchase_amount,
    device_basic_save_place,
    (select name_ from sys_data_dict where key_=device_basic_user_department and dict_key_='sbsybm') device_basic_user_department, device_basic_leader, device_basic_setup_time,
    device_basic_brand, device_basic_provider, device_basic_purchase_time,device_basic_mesh,device_basic_enclosure,
    device_basic_ip,device_basic_column_number
    FROM device_basic
    <where>
      <if test="whereSql!=null">
        ${whereSql}
      </if>
    </where>
    <if test="orderBySql!=null">
      ORDER BY ${orderBySql}
    </if>
    <if test="orderBySql==null">
      ORDER BY device_basic_id DESC
    </if>
  </select>

  <delete id="remove" parameterType="java.lang.String">
		DELETE FROM device_basic
		WHERE
		device_basic_id=#{id}
	</delete>
</mapper>