<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dstz.device.core.dao.DeviceWarningDao">
  <resultMap id="BaseResultMap" type="com.dstz.device.core.model.DeviceWarning">
    <id column="device_warning_id" jdbcType="VARCHAR" property="deviceWarningId" />
    <result column="device_warning_number" jdbcType="VARCHAR" property="deviceWarningNumber" />
    <result column="device_warning_time" jdbcType="TIMESTAMP" property="deviceWarningTime" />
    <result column="device_warning_device_name" jdbcType="VARCHAR" property="deviceWarningDeviceName" />
    <result column="device_warning_device_number" jdbcType="VARCHAR" property="deviceWarningDeviceNumber" />
    <result column="device_warning_defence_area" jdbcType="VARCHAR" property="deviceWarningDefenceArea" />
    <result column="device_warning_device_model" jdbcType="VARCHAR" property="deviceWarningDeviceModel" />
    <result column="device_warning_device_type" jdbcType="VARCHAR" property="deviceWarningDeviceType" />
    <result column="device_warning_detail" jdbcType="VARCHAR" property="deviceWarningDetail" />
    <result column="device_warning_status" jdbcType="VARCHAR" property="deviceWarningStatus" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    device_warning_id, device_warning_number, device_warning_time, device_warning_device_name, 
    device_warning_device_number, device_warning_defence_area, device_warning_device_model, 
    device_warning_device_type, device_warning_detail, device_warning_status, create_time
  </sql>
  <select id="get" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from device_warning
    where device_warning_id = #{deviceWarningId,jdbcType=VARCHAR}
  </select>
  <delete id="remove" parameterType="java.lang.String">
    delete from device_warning
    where device_warning_id = #{deviceWarningId,jdbcType=VARCHAR}
  </delete>
  <insert id="create" parameterType="com.dstz.device.core.model.DeviceWarning">
    insert into device_warning (device_warning_id, device_warning_number, 
      device_warning_time, device_warning_device_name, 
      device_warning_device_number, device_warning_defence_area, 
      device_warning_device_model, device_warning_device_type, 
      device_warning_detail, device_warning_status, 
      create_time)
    values (#{deviceWarningId,jdbcType=VARCHAR}, #{deviceWarningNumber,jdbcType=VARCHAR}, 
      #{deviceWarningTime,jdbcType=TIMESTAMP}, #{deviceWarningDeviceName,jdbcType=VARCHAR}, 
      #{deviceWarningDeviceNumber,jdbcType=VARCHAR}, #{deviceWarningDefenceArea,jdbcType=VARCHAR}, 
      #{deviceWarningDeviceModel,jdbcType=VARCHAR}, #{deviceWarningDeviceType,jdbcType=VARCHAR}, 
      #{deviceWarningDetail,jdbcType=VARCHAR}, #{deviceWarningStatus,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.dstz.device.core.model.DeviceWarning">
    insert into device_warning
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="deviceWarningId != null">
        device_warning_id,
      </if>
      <if test="deviceWarningNumber != null">
        device_warning_number,
      </if>
      <if test="deviceWarningTime != null">
        device_warning_time,
      </if>
      <if test="deviceWarningDeviceName != null">
        device_warning_device_name,
      </if>
      <if test="deviceWarningDeviceNumber != null">
        device_warning_device_number,
      </if>
      <if test="deviceWarningDefenceArea != null">
        device_warning_defence_area,
      </if>
      <if test="deviceWarningDeviceModel != null">
        device_warning_device_model,
      </if>
      <if test="deviceWarningDeviceType != null">
        device_warning_device_type,
      </if>
      <if test="deviceWarningDetail != null">
        device_warning_detail,
      </if>
      <if test="deviceWarningStatus != null">
        device_warning_status,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="deviceWarningId != null">
        #{deviceWarningId,jdbcType=VARCHAR},
      </if>
      <if test="deviceWarningNumber != null">
        #{deviceWarningNumber,jdbcType=VARCHAR},
      </if>
      <if test="deviceWarningTime != null">
        #{deviceWarningTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deviceWarningDeviceName != null">
        #{deviceWarningDeviceName,jdbcType=VARCHAR},
      </if>
      <if test="deviceWarningDeviceNumber != null">
        #{deviceWarningDeviceNumber,jdbcType=VARCHAR},
      </if>
      <if test="deviceWarningDefenceArea != null">
        #{deviceWarningDefenceArea,jdbcType=VARCHAR},
      </if>
      <if test="deviceWarningDeviceModel != null">
        #{deviceWarningDeviceModel,jdbcType=VARCHAR},
      </if>
      <if test="deviceWarningDeviceType != null">
        #{deviceWarningDeviceType,jdbcType=VARCHAR},
      </if>
      <if test="deviceWarningDetail != null">
        #{deviceWarningDetail,jdbcType=VARCHAR},
      </if>
      <if test="deviceWarningStatus != null">
        #{deviceWarningStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="update" parameterType="com.dstz.device.core.model.DeviceWarning">
    update device_warning
    <set>
      <if test="deviceWarningNumber != null">
        device_warning_number = #{deviceWarningNumber,jdbcType=VARCHAR},
      </if>
      <if test="deviceWarningTime != null">
        device_warning_time = #{deviceWarningTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deviceWarningDeviceName != null">
        device_warning_device_name = #{deviceWarningDeviceName,jdbcType=VARCHAR},
      </if>
      <if test="deviceWarningDeviceNumber != null">
        device_warning_device_number = #{deviceWarningDeviceNumber,jdbcType=VARCHAR},
      </if>
      <if test="deviceWarningDefenceArea != null">
        device_warning_defence_area = #{deviceWarningDefenceArea,jdbcType=VARCHAR},
      </if>
      <if test="deviceWarningDeviceModel != null">
        device_warning_device_model = #{deviceWarningDeviceModel,jdbcType=VARCHAR},
      </if>
      <if test="deviceWarningDeviceType != null">
        device_warning_device_type = #{deviceWarningDeviceType,jdbcType=VARCHAR},
      </if>
      <if test="deviceWarningDetail != null">
        device_warning_detail = #{deviceWarningDetail,jdbcType=VARCHAR},
      </if>
      <if test="deviceWarningStatus != null">
        device_warning_status = #{deviceWarningStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where device_warning_id = #{deviceWarningId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dstz.device.core.model.DeviceWarning">
    update device_warning
    set device_warning_number = #{deviceWarningNumber,jdbcType=VARCHAR},
      device_warning_time = #{deviceWarningTime,jdbcType=TIMESTAMP},
      device_warning_device_name = #{deviceWarningDeviceName,jdbcType=VARCHAR},
      device_warning_device_number = #{deviceWarningDeviceNumber,jdbcType=VARCHAR},
      device_warning_defence_area = #{deviceWarningDefenceArea,jdbcType=VARCHAR},
      device_warning_device_model = #{deviceWarningDeviceModel,jdbcType=VARCHAR},
      device_warning_device_type = #{deviceWarningDeviceType,jdbcType=VARCHAR},
      device_warning_detail = #{deviceWarningDetail,jdbcType=VARCHAR},
      device_warning_status = #{deviceWarningStatus,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where device_warning_id = #{deviceWarningId,jdbcType=VARCHAR}
  </update>

  <select id="query" parameterType="java.util.Map" resultMap="BaseResultMap">
    SELECT

    device_warning_id, device_warning_number, device_warning_time, device_warning_device_name,
    device_warning_device_number, device_warning_defence_area, device_warning_device_model,
    (select name_ from sys_data_dict where key_=device_warning_device_type and dict_key_='bjfl') device_warning_device_type, device_warning_detail,
    (select name_ from sys_data_dict where key_=device_warning_status and dict_key_='bjzt') device_warning_status, create_time

    FROM device_warning
    <where>
      <if test="whereSql!=null">
        ${whereSql}
      </if>
    </where>
    <if test="orderBySql!=null">
      ORDER BY ${orderBySql}
    </if>
    <if test="orderBySql==null">
      ORDER BY create_time DESC
    </if>
  </select>

</mapper>